<script lang="ts" setup>
import { ref } from 'vue';
type Gender = 'male' | 'female' | 'other'
type Role = 'admin' | 'user'
type User = {
    id: number
    login: string
    password: string
    fullName: string
    gender: Gender
    roles: Role[]
}
const headers = [
{
        title: 'Id',
        key: 'id',
        value: 'id'
    },
    {
        title: 'Login',
        key: 'login',
        value: 'login'
    },
    {
        title: 'Full Name',
        key: 'fullName',
        value: 'fullName'
    },
    {
        title: 'Gender',
        key: 'gender',
        value: 'gender'
    },
    {
        title: 'Roles',
        key: 'roles',
        value: (item: User) => item.roles.join(', ')
    },


]

const users = ref<User[]>([{
    id: 1,
    login: 'admin',
    password: 'Pass@word123',
    fullName: 'Admin',
    gender: 'male',
    roles: ['admin', 'user']
},
{
    id: 2,
    login: 'user1',
    password: 'Pass@word123',
    fullName: 'User1',
    gender: 'female',
    roles: ['user']
},
{
    id: 3,
    login: 'user2',
    password: 'Pass@word123',
    fullName: 'User2',
    gender: 'male',
    roles: ['user']
}
])


</script>

<template>
     <div>
        <v-table>
            <thead>
                <tr>
                    <th class="text-left">
                        ID
                    </th>
                    <th class="text-left">
                        Login
                    </th>
                    <th class="text-left">
                        Full Name
                    </th>
                    <th class="text-left">
                        Gender
                    </th>
                    <th class="text-left">
                        Roles
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in users" :key="item.id">
                    <td>{{ item.id }}</td>
                    <td>{{ item.login }}</td>
                    <td>{{ item.fullName }}</td>
                    <td>{{ item.gender }}</td>
                    <td>{{ item.roles.join(',') }}</td>
                </tr>
            </tbody>
        </v-table>
    </div> 
    <div>
        <v-data-table :header="headers" :items="users"></v-data-table>
    </div>

</template>